{% extends "posApp/base.html" %}

{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <form method="POST">
        {% csrf_token %}
        <label for="sucursal">Seleccionar Sucursal:</label>
        <select name="sucursal" id="sucursal">
            {% for sucursal in sucursales %}
            <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Cambiar</button>
    </form>
</div>


<style>
    form {
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form select,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
</style>

{% endblock %}