{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }

   

    @media print {
        html, body {
            height: 15mm;
        }
        
        #outprint {
            height: 15mm;
            overflow: hidden;
        }
    }
</style>
<div class="container-fluid">
    <div id="outprint">
        <div class="lh-1">
            
            <img style="display: block; margin: 0 auto; max-width: 80px; height: auto;" src="/static/posAPP/assets/material-admin/images/sidebar/logo.jpg" alt="">
        </div>
        <hr>
        <div class="lh-1">
            <div>
                <span>Fecha:</span> {{ transaction.date_added }} <br>
                <span>Folio de venta:</span> {{ transaction.code }} <br>
                {% for items in salesItems|slice:"1"  %}
                
                
                <span>Cliente: <strong>{{ items.client.nombre }} {{ items.client.apellido_paterno }} {{ items.client.apellido_materno }}</strong></span> <br>
                    
                {% endfor %}
                {% if sales %}
                    <span>Realizo venta: </span><span><strong>{{ sales.usuario }}</strong></span>
                {% endif %}
            </div>
        </div>
        <div class="clear-fix py-3"></div>
        <div class="lh-1">
            <div class="d-flex w-100 align-items-end border-bottom">
                <div class="col-2 text-center fw-bold">C.</div>
                <div class="col-6 text-center fw-bold">Prod</div>
                <div class="col-4 text-center fw-bold">Monto</div>
            </div>
            {% for item in salesItems %}
            <div class="d-flex w-100 align-items-end">
                <div class="col-2 text-center fw-bold">{{ item.qty|intcomma|floatformat:0 }}</div>
                <div class="col-6 fw-bold text-center">
                    <div class="lh-1">
                        <small>{{ item.product_id.name }}</small><br>
                        
                        
                    </div>
                </div>
                
 
                <div class="col-4 text-end fw-bold">{{ item.total|intcomma }}</div>
            </div>
            {% endfor %}
            <hr>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Total</div>
                <div class="col-6 text-end fw-bold">{{ transaction.grand_total|intcomma }}</div>
                
            </div>
            <div class="d-flex w-100 align-items-end">
                {% if sales %}
                <div class="col-6 text-start fw-bold">Tipo de pago: {{ sales.tipoPago }}</div>
                {% endif %}
                
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Pagado efectivo</div>
                <div class="col-6 text-end fw-bold">{{ transaction.tendered_amount|intcomma }}</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Pagado tarjeta</div>
                <div class="col-6 text-end fw-bold">{{ transaction.tendered_amount_card|intcomma }}</div>
            </div>
            <div class="d-flex w-100 align-items-end">
                <div class="col-6 text-start fw-bold">Cambio</div>
                <div class="col-6 text-end fw-bold">{{ transaction.amount_change|intcomma }}</div>
            </div>
            <div class="d-flex w-100 align-items-center">
                {% if sales %}
                <div class="col-6 text-start fw-bold">Comentario</div>
                <div class="col-6 text-end fw-bold">{{ sales.comentario }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="clear-fix py-3"></div>
    <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-light bg-gradient border rounded-0 btn-sm me-1" type="button" id="receipt_print"><i class="mdi mdi-printer"></i> Print</button>
        <button class="btn btn-secondary bg-gradient border rounded-0 btn-sm" type="button" data-bs-dismiss="modal"><i class="mdi mdi-close"></i> Close</button>
    </div>
</div>
<script>
    $(function() {
        $('#receipt_print').click(function() {
            var head = $('head').clone()
            var p = $('#outprint').clone()
            var el = $("<div>")
            head.append('<style>body{background-color:unset !important}</style>')
            el.append(head)
            el.find('title').text("Receipt - Print View")
            el.append(p)
            start_loader()
            var nw = window.open('', '_blank', "width=800,height=800,left=300, top = 200")
            nw.document.write(el.html())
            nw.document.close()
            setTimeout(() => {
                nw.print()
                setTimeout(() => {
                    nw.close()
                    end_loader()
                }, 250)
            }, 300)
        })
    })
</script>