{% extends "posApp/base.html" %} {% load humanize %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <h4 class="card-title mb-0">Ventas</h4>
            <form method="GET" class="d-flex align-items-center flex-wrap">
                <div class="form-group mb-2">
                    <label for="start-date" class="form-label">Fecha de inicio:</label>
                    <input type="date" name="start_date" id="start-date" class="form-control">
                </div>
            
                <div class="form-group mx-sm-3 mb-2">
                    <label for="end-date" class="form-label">Fecha final:</label>
                    <input type="date" name="end_date" id="end-date" class="form-control">
                </div>
            
                <div class="form-group mb-2">
                    <select name="cliente_id" id="cliente_id" class="form-select form-select-sm">
                        {% if not clientes %}
                        <option value="" disabled selected></option>
                        {% else %}
                        <option value="" disabled></option>
                        {% endif %}
                        <option value="" selected>General</option>
                        {% for cliente in clientes  %}
                            {% if cliente.id == cliente.id %}
                            <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido_paterno  }} {{cliente.apellido_materno}}</option>
                            {% else %}
                            <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido_paterno }} {{cliente.apellido_materno}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-group mb-2">
                    <select name="formapago_id" id="formapago_id" class="form-select form-select-sm">
                        {% if not formapago %}
                        <option value="" disabled selected></option>
                        {% else %}
                        <option value="" disabled></option>
                        {% endif %}
                        <option value="" selected>Selecciona forma de pago</option>
                        {% for fpago in formapago  %}
                            {% if fpago.id == fpago.id %}
                            <option value="{{ fpago.id }}">{{ fpago.tipo }}</option>
                            {% else %}
                            <option value="{{ fpago.id }}">{{ fpago.tipo }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            
                <button class="btn btn-primary ml-2" type="submit">Buscar</button>
            </form>

            
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="20%">
                    <col width="25%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Fecha</th>
                        <th class="text-center py-1">Codigo de Transc.</th>
                        <th class="text-center py-1">Cliente</th>
                        <th class="text-center py-1">Realizo</th>
                        <th class="text-center py-1">Total</th>
                        <th class="text-center py-1">Tipo de Pago</th>
                        <th class="text-center py-1">Productos</th>
                        <th class="text-center py-1">Accion</th>
                        <th class="text-center py-1">Ventas: ${{ total }}</th>
                        <th class="text-center py-1">Efectivo Dia: ${{ totalEfectivo}}</th>
                        <th class="text-center py-1">Banco Dia: ${{ totalBanco}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sale_data %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ sale.id }}</td>
                        <td class="px-2 py-1 text-start">{{ sale.date_added|date:'Y-m-d H:i' }}</td>
                        <td class="px-2 py-1 text-start">{{ sale.code }}</td>
                        <td class="px-2 py-1 text-start">{{ sale.client }} {{ sale.client.apellido_paterno  }} {{sale.client.apellido_materno}}</td>
                        <td class="px-2 py-1 text-start">{{ sale.usuario.username }}</td>
                        <td class="px-2 py-1 text-end">{{ sale.grand_total|intcomma }}</td>
                        <td class="px-2 py-1 text-end">{{ sale.tipoPago }} </td>
                        <td class="px-2 py-1 text-center">{{ sale.item_count|intcomma }}</td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded view-data" type="button" data-id="{{ sale.id }}" title="View Receipt">
                                <i class="material-icons mdc-button__icon">receipt</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ sale.id }}" data-code="{{ sale.code }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('.view-data').click(function() {
            uni_modal("Recibo de ventas", "{% url 'receipt-modal' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Quieres eliminar <b>" + $(this).attr('data-code') + "</b> transaccion?", "delete_sale", [$(this).attr('data-id')])
        })
        $('#cliente_id').select2({
            placeholder: "Selecciona un cliente aqui",
            width: '100%'
        })

    })

    function delete_sale($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-sale' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}